
<h1>Total Pictures : (<%= @pictures.length %>)</h1>
<%= link_to("Add New Picture","/pictures/new")%>

<% @pictures.each do |picture| %>
  <hr>
  <h2>Picture : <%= picture.id %></h2>
  <p>Title: <%= picture.title %>, Artist: <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <!-- <img src="<%= picture.url %>" alt="<%= picture.title %>"> -->
<% end %>
<hr>

<h2>One Month Old Pictures</h2>
<p><%= Picture.month_old_pictures.count%></p>
<ul>
  <% Picture.month_old_pictures.each do |picture| %>
    <li><%= picture.title%></li>
  <% end %>
</ul>

<h2>Year:</h2>

<h3>2017</h3>
  <% Picture.created_in_year_2017.each do |picture| %>
    <p><%= picture.title %>, <%= picture.artist %></p>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>

<h3>2016</h3>
  <% Picture.created_in_year_2016.each do |picture| %>
    <p><%= picture.title %>, <%= picture.artist %></p>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>


<h3>2015</h3>
  <% Picture.created_in_year_2015.each do |picture| %>
    <p><%= picture.title %>, <%= picture.artist %></p>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>
