
<h1>Total Pictures : (<%= @pictures.length %>)</h1>
<%= link_to("Add New Picture","/pictures/new")%>

<% @pictures.each do |picture| %>
  <hr>
  <h2>Picture : <%= picture.id %></h2>
  <p>Title: <%= picture.title %></p>
  <p>Artist: <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <!-- <img src="<%= picture.url %>" alt="<%= picture.title %>"> -->
<% end %>
<hr>

<h1>Most recent Pictures</h1>
  <ul>
    <% @most_recent_pictures.each do |picture| %>
      <li><%= link_to picture.title, picture.url %></li>
    <% end %>
  </ul>

<h1>From last month</h1>
  <ul>
    <% @month_old_pictures.each do |picture| %>
      <li><%= link_to picture.title, picture.url %></li>
    <% end %>
  </ul>
