<h1>Total Pictures : (<%= @pictures.length %>)</h1>
<div class="user-account">
  <% if current_user %>
    Signed in as : <%= current_user.email %>. <%= link_to "Log Out", sessions_path("current"), :method => :delete %>
  <% else %>
    <%= link_to("Log In", new_sessions_path) %> | <%= link_to("Sign Up", new_users_path) %>
  <% end %>
</div>

<%= link_to("Add New Picture","/pictures/new")%>

<% @pictures.each do |picture| %>
  <hr>
  <h2>Picture : <%= picture.id %></h2>
  <p>Title: <%= picture.title %></p>
  <p>Artist: <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <!-- <img src="<%= picture.url %>" alt="<%= picture.title %>"> -->
<% end %>
<hr>

<h1>Most recent Pictures</h1>
  <ul>
    <% @most_recent_pictures.each do |picture| %>
      <!-- <li><%= link_to picture.title, picture.url %></li> -->
      <li><%= link_to picture.title, "/pictures/#{picture.id}" %></li>
    <% end %>
  </ul>

<h1>From 2016</h1>
  <ul>
    <% @created_in_year_2016.each do |picture| %>
    <li><%= link_to picture.title, "/pictures/#{picture.id}" %></li>
    <% end %>
  </ul>

  <h1>From 2015</h1>
    <ul>
      <% @created_in_year_2015.each do |picture| %>
      <li><%= link_to picture.title, "/pictures/#{picture.id}" %></li>
      <% end %>
    </ul>

    <h1>From 2014</h1>
      <ul>
        <% @created_in_year_2014.each do |picture| %>
        <li><%= link_to picture.title, "/pictures/#{picture.id}" %></li>
        <% end %>
      </ul>
