<h1>Add a Picture</h1>
<%= link_to("Back to Pictures","/pictures") %>

<% if @pictures.errors.any? %>
  <div>
    <ul>
      <% @picture.errors.full_messages.each do |error_msg| %>
        <li><%= error_msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<hr>

<%= form_for(@pictures) do |f| %>
  <p>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
