<%= link_to("Back to Pictures", "/pictures") %> | <%= link_to("Edit", "/pictures/#{@pictures.id}/edit") %>

<p>Title: <%= @pictures.title %>, Artist: <%= @pictures.artist %></p>
<!-- <img src="<%= @pictures.url %>"> -->
<%= image_tag(@pictures.url) %>
