<%= link_to("Back to Pictures", "/pictures") %> | <%= link_to("Edit", "/pictures/#{@pictures.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@pictures.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}) %>

<p>Title: <%= @pictures.title %>, Artist: <%= @pictures.artist %></p>
<!-- <img src="<%= @pictures.url %>"> -->
<%= image_tag(@pictures.url) %>
